@import '../assets/variables/palette';
@import "../assets/variables/_fonts.scss";

.jump{
  vertical-align: middle;
  background-color: $white;
  vertical-align: middle;
  position: relative;
  height: auto;
  padding: 50px;
  &:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    top: -34vh;
    border-width: 17vh 50vw;
    border-style: solid;
    border-color: $white $white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transform: rotate(180deg);
  }
  &:before {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: -34vh;
    border-width: 17vh 50vw;
    border-style: solid;
    border-color: $white $white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    transform: rotate(0deg);
  }
}

.jump-rectangle {
  display: inline-flex;
  align-items: baseline;
  .rectangle{
    width: 6px;
    height: 104px;
    background: $dove-gray 0% 0% no-repeat padding-box;
  }

  p{
    font-family: $font-roboto;
    font-size: 2.0625rem;
    letter-spacing: 0px;
    color: $dove-gray;
    margin-left: 16px;
  }
}

.brand-title{
  font-family: $font-roboto;
  font-size: 5.625rem;
  letter-spacing: 0px;
  color: $black;
}
.form{
  width: 451px;
  height: 486px;
  background-color: $silver;
}

.form__cordinates{
  width: 311px;
  padding: 102px 142px 102px 102px;
}

.form__cordinates__coordinate{
  border-bottom: 5px solid black;
  width: 266px;
  height: 57px;
  display: flex;
  font-size: 40px;
  font-family: $font-roboto;

  input{
    font-size: 40px;
    max-width: 235px;
    background-color: $silver;
    font-family: $font-roboto;
    border-color: transparent;
    margin-bottom: 12px;
    text-align: center;

  }
}

.form_button{
    position: absolute;
    background-color: $limeade;
    padding: 0 7px;
    margin-top: 48px;
    width: 197px;
    height: 55px;
    color: $white;
    text-align: left;
    font-family: $font-roboto;
    font-size: 24px;
    letter-spacing: 0px;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 30px;
      background: $limeade;
      transform: skew(-30deg);
      transform-origin: bottom;
    }

    span{
      position: absolute;
      top: 20%;
    }
}

.jump__content{
  display: inline-flex;
  width: 100%;
  //padding: 0 50px;
}
.jump__frog{
  width: 134px;
  height: 147px;
  position: relative;
  top: 120px;
  img{
    width: 238px;
    height: 147px;
  }
}

.jump__cross{
  width: 317px;
  height: 551px;
  .cross{
    width: 317px;
    border-bottom: 29px dashed red;
    position: relative;
    bottom: -188px;
    left: 50px;
    transform: rotate(65deg);
  }
}

.jump__msg{
  color: red;
  text-align: justify;
  margin-top: 20px;
}
